@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.homepageMargin{
    margin: 6.5% 5.7%;
    margin-bottom: 0;
}
.allmargin{
    width: 90%;
    margin: 5% auto;
    /* background-color: green; */
}
.defaultmargin{
    margin: 5% 0 0 0%;
    /* background-color: green; */
}
#loadingProducts{
    margin: auto;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
button{
    user-select: none;
}
:root{
    --standard-font-family:Georgia;
    --standard-font-size:1.2em;
    --standard-border:none;
    --standard-outline:none;
    --standard-backgroung-color:#f8f9fa61;
    --standard-color:#ffff;
    --standard-forDark-color:black;
    --standard-display:flex;
    --standard-flex-direction:column;
    --standard-default-Link-color:grey;
    --standard-isActive-Link-color:black;
    --standard-Montserratfont:Montserrat,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body::-webkit-scrollbar{
    display: none;
}
body{
    -ms-overflow-style: none;
    transition: backgrond;
}
@-moz-document url-prefix() {
    body {
        scrollbar-width: none;
    }
}
/* ........................................................................... */
 .cart-svg{
    position: relative;
}
.cart-svg #cartCount{
    background-color: rgba(255, 0, 0, 0.802);
    color: var(--standard-color);
    border-radius: 50%;
    min-width: 23px;
    min-height:23px;
    position: absolute;
    top: -10px;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: normal;
}
.nav-bar{
    width: 100%;
    height:90px;
    display: flex;
    align-items:center;
    font-weight:bolder;
    font-family: lucida sans;
    box-shadow:1px 1px 15px rgb(203, 203, 203);
    justify-content: space-around;
    position: fixed;
    top:0px;
    z-index:99;
    background-color: white;
}
#mall-logo{
    font-size: 2.45rem;
    color: #0088ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.category 
{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.category a
{
    color: black;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    /* background-color: lightblue; */
    padding:8px ;
    /* border-radius: 8px; */
    transition: all .2s ease-in;
    font-size: 0.87em;
}
.cat-a:hover{
    /* transform:scaleX(0.9); */
    /* color:white; */
    /* background-color: black; */
    /* border-radius: 8px; */
    border-bottom: 2px solid rgb(237, 0, 118);
}
.search-bar{
    display: flex;
    width:30%;    
}
.search-bar button{
    padding: 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    background-color: rgb(236, 232, 232);
    border: var(--standard-border);
    outline: var(--standard-outline);
    cursor: pointer;
}
.search-bar input
{
    border: var(--standard-border);
    outline: var(--standard-outline);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 12px;
    width:100%; 
    background-color: rgb(236, 232, 232);
    font-size: 0.9em;
}
.icons{
    display: flex;
    column-gap: 20px;
}
.icon{
    text-align: center;
    transition: .3s ease-in-out;
    cursor: pointer;
    padding: 0px 10px ;
}
.icon:hover svg{
    transform: scale(1.2);
}
.icon:hover #cartCount{
    transform: scale(0.9);
    transition: .3s ease-out;

}
.icons svg{
    transition: transform 0.3s ease;
    height: 30px;
    width: 30px;
}
.icons p{
    font-size: 0.8rem;

}

.icon ul{
    list-style-type: none;
}
.profileDropdown {
    position: relative;
}
.profileDropdown .listDropdown{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    left: -30px;
    min-width: 100px;
    visibility: hidden;
    padding: 8px;
    z-index: 99;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease,transform 0.3s ease,visibility 0.3s ease;
}


.listDropdown .loginDropdown{
    font-size: 1.1em;
    color: var(--standard-color);
    background-color: var(--standard-forDark-color);
    padding: 5px 12px;
    min-width: 100px;
    transition: .2s ease;
    cursor: pointer;
    font-weight: 700;
    border-collapse: collapse;
}
.listDropdown .loginDropdown:hover{
    background-color: #495057;
    color: var(--standard-color);
}
.profileDropdown:hover .listDropdown{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

/* side-menubar */
.menuBar{
    background-color:#e7ecef;
    position: fixed;
    left:-340px;
    width: 340px;
    /* height:100%; */
    transition: 0.3s ease;
}
.cancel-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: pink; */
    font-family:moderustic;
}
#sidebar-profileContainer{
    display: flex;
    align-items: center;
    background-color: #e0e1dd;
    gap: 10px;
    padding: 15px;
}
.cancel-content h1{
    font-size: var(--standard-font-size);
}
.categoryLists{
    display: flex;
    flex-direction: column;
}
.categoryLists h2{
    padding:10px 0px 10px 15px;
    font-size: var(--standard-font-size);
}

.cancel-content ul{
    list-style: none;    
}
.categoryLists .a{
    /* background-color: #495057; */
    color: #081c15;
    width: 91%;
    font-weight: 530;
    padding: 15px ;
    display: block;
    transition: 0.27s ease;
}
.categoryLists .arrow-link{
    display: flex;
    position: relative;
}
#arrowMark{
    position: absolute;
    transition:all .65s ease;
}
.categoryLists .womens-fashion{
    position: relative;
}
.womens-fashion .womens-Sub-a{
    position: absolute;
    top: 0;
    right:-129px;
    visibility: hidden;
    opacity: 0;
    height: 0;
}
.womens-Sub-a li:hover{
    background-color:lightgrey !important;
}
.womens-Sub-a{
    width:130px;
}
.categoryLists .sidebar-cntnt:hover > .womens-Sub-a{
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: .2s ease;
    background-color: lightgrey;
}
.categoryLists .sidebar-cntnt :hover{
    color: var(--standard-forDark-color);  
    background-color:#e0e1dd;
}
.categoryLists  .sidebar-cntnt:hover #arrowMark{
    transform: scale(1.45) !important;
    transition: 0.4s ease; 
}
#sideBar:checked ~ .menuBar #arrowMark{
    margin-left: 97%;
}
.cancel-content .menubar-signout-btn::after{
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width:100%;
    height:1px;
    border-radius: 4px;
    background-color: black;
}
.cancel-content .menubar-signout-btn{
    font-size: var(--standard-font-size);
    position: relative;
    padding: 15px;
    background-color: #e0e1dd;
    cursor: pointer;
    border:2px solid transparent;
    margin-top:110%;
}
.sideBarBody{
    position: relative;
    /* top: 90px; */
    top: 12px;
    z-index: 90;
}
.sideBarBody label{
    position: absolute;
}
#sideBar {
    display: none;
  }
  #menuIcon,#menuCancelIcon{
    cursor: pointer;
  }
  #menuIcon{
    position: absolute;
    left:40px;
    padding: 6px 12px;
    border-radius: 8px;
    fill:var(--standard-forDark-color);
    transition: 0.2s ease;
  }
  #menuCancelIcon{
    position:absolute;
    top: 12px;
    left: -290px; 
    background: var(--standard-forDark-color);
    fill: var(--standard-color);
    border-radius: 50%;
    padding: 6px 10px;
    z-index: 99;
    transition:all .3s ease; 
}
#sideBar:checked ~ .menuBar {
    z-index: 98;
    left: 0px;
    height:100%;
}
#sideBar:checked ~ label #menuIcon{
    opacity: 0;
    pointer-events: none;
}
#sideBar:checked ~ label #menuCancelIcon{
    left: 290px;
}
#sideBar:checked ~ #screenOverlay{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0; 
    z-index: 89;
}

/* mainbody content */
.hero-container{
    /* margin-top: 90px; */
    display: flex;
    flex-direction: column;
}
.imageSlide{
    position: relative;
    width: 100%;
    height: 570px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.imageSlide img{
    position: absolute;
    width:100%;
    max-height: 100%;
    transition: transform 0.8s ease-in-out;
}
.slide-btn{
    /* padding: 15px 10px; */
    height:80%;
    width: 60px;
    border-radius: 4px;
    font-size: 2.2rem;
    border: 2px solid transparent;
    position: absolute;    
    background-color: transparent;
    color: grey;
    transform: translateY(-50%);
    top: 50%;
}
.prevSlide{
    left: 2px;
}
.nextSlide{
    right: 2px;
}
.slide-btn:hover{
    border: 2px solid black;
    opacity: 1;
    color: black;
}

.main-container{
    margin-top: -20px;
}


/* product container */
.carousel-container{
    position: relative;
    padding: 20px 0 20px 20px ;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: linear-gradient(to bottom,#e9ecef,#edede9,#f8f9fa);
}
.carousel-container h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    /* margin:0 0 30px 0; */
    /* padding: 0 2.5vw; */
}
.carousel-container #left-btn, #right-btn{
    font-size: 1.5rem;
    border: var(--standard-border);
    height: 100%;
    position: absolute;
    top:0;
    color: gray;
    background: linear-gradient(90deg,#ffff 0%, rgba(255,255,255,0) 100% );
    z-index: 10;
    transition:all .4s ease;
}
.carousel-container button:hover{
    color: black;
}
.carousel-container #left-btn{
    width: 5vw;
    left: 0;
    opacity: 0.2;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); */
}
.carousel-container #right-btn{
    width: 10vw;
    right: 0px;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
} 
.carousel-container #left-btn:hover, #right-btn:hover{
    color: black;
    opacity: 1;
}
 .carousel-box{
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.carousel-box::-webkit-scrollbar{
    display: none;
}
.carousel-box .carousel-card{
    position: relative;
 }
 .carousel-box .carousel-image{
    position: relative;
    mix-blend-mode:darken;
 }
 .carousel-image .all-carousel-images-cont{
    background-color: lightblue;
    height:220px;
    width: 310px;    
}
.all-carousel-images-cont .allcarouselImages{
    height: 100%;
    width: 100%;
    transition:all 0.3s ease;
}
.carousel-image #per-offer{
    text-transform: capitalize;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 0.9em;
    font-family: kanit;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--standard-color);
    /* color: orange; */
    color: #009688;
    cursor: default;
}
.carousel-image #add-cart-btn{
    position: absolute;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    bottom:-10px;
    font-size: 1.1em;
    padding:8px 0;
    border: var(--standard-border);
    opacity:0;
    transition: 0.4s ease;
    cursor: pointer;
    border-radius: 5px;
    color: grey;
    background-color: var(--standard-color);
}
.carousel-image:hover > #add-cart-btn{
    opacity: 1;
    bottom: 7px;
}
.carousel-image #add-cart-btn:hover{
    color:var(--standard-color);
    background-color: #1e88e5;
}


.carousel-content{
    width: 100%;
}
.carousel-content #prod-name{
    font-size: 1.24rem;
    text-transform: capitalize;
    font-weight: 450;
    font-family: Kanit;
    letter-spacing:0.6px;
    width:300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
#carousel-content-svg{
    height:16px;
    width:16px;
    margin-bottom: -2px;
}
.carousel-content price{
    font-size:1.1em ;
    font-family: kanit;
    font-weight: 500;
}
#carousel-content-svg1{
    height:14px;
    width:14px;
    margin-bottom: -3px;
}
.carousel-content disprice{
    color: rgb(161, 159, 159);
    font-size: 0.8em;
    margin-left: 5px;
    position: relative;
}
.carousel-content disprice::before{
    content: '';
    height: 1px;
    width: 100%;
    top: 50%;
    background-color: #081c1567;
    position: absolute;
} 

/* body section 2 */
.main-container .cards-box-container{
    padding: 20px 15px;
    font-family: roboto;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 20px;
    background: linear-gradient(to bottom,#e9ecef,#edede9,#f8f9fa);
    /* flex-wrap: wrap; */
}
.cards-box-container .mobile-box-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    height:28pc;
    padding: 20px 30px 25px 20px;
}
.cards-box-container h3{
    font-size: 1.3rem;
    /* background-color: grey; */
    margin-bottom: 20px;
}
.main-container .item-reach-link{
    color: #009688;
    font-weight: 400;
    font-size: 0.83em;
    width: fit-content;
}
.cards-box-container .item-reach-link1{
    margin-top: 28px;
}
.main-container .item-reach-link:hover{
    color: red;
}
.mobile-box-container p{
    font-weight: 450;
    margin-top: -3px;
    color: #343a40;
    text-transform: capitalize;
    text-align:center;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.87em;
}
.mob-box1{
    display: flex;
    gap: 10px;
    overflow: hidden;
}
.mob-box2{
    display: flex;
    gap: 10px;
    overflow: hidden;
}
.mobile-box-container .mob-img{
    height: 180px;
}

.mobile-box-container .mob-img img{
    max-height: 90%;
    transition: 0.3s ease-in-out;
}
.mobile-box-container .mob-img img:hover{
    transform: scale(1.04);
}
.cards-box-container  .watch-gaming-box-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    height:28pc;
    padding: 20px 30px 25px 20px;
    gap: 12px;

}
.cards-box-container .item-reach-link2{
    margin-top: 55px;
}
.cards-box-container .tv-box-container{
    background-color: white;
    padding: 20px 30px 25px 20px;
}
.tv-box-container .tv-ac-container{
    display: flex;
    flex-direction: column;
}
.tv-ac-container .tv-img{
    min-width: 280px;
}.tv-img img{
    width:100%;
}
.tv-ac-container .ac-img{
    align-self: flex-start;
    height: 80px;
    width:290px;
}
.ac-img #ac-card-img{
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
}
.ac-img #ac-card-img:hover{
    transform: scale(1.06);
}
.cards-box-container .tv-box-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 480px;
    overflow: hidden;
}
.tv-box-container .container-sub2{
    display: flex;
    gap: 10px;
}

.fridge-img {
    max-height:360px;
    min-width:180px;
    overflow: hidden;
    display: none;
}
.fridge-img #fridge-card-img{
    height: 100%;
    width: 100%;
}
/* ................................section 2 ends................................... */





















/* section 3 starts .........womens shopping.............. */


.mens-shopping-container{
    font-family: roboto;
    height: fit-content;
    background: linear-gradient(to bottom,#e9ecef,#f8f9fa);
    margin-top: 30px;
    position: relative;
}
.mens-shopping-container #bag-main2-container{
    display: none;
}
.mens-shopping-container h3{
    font-size: 1.5em;
    text-transform: capitalize;
    width: fit-content;
    padding:1.2pc 0 0.8pc 12.2pc;
}

.men-shopping-sub-container{
    display: flex;
    justify-content:space-evenly;
    padding:20px;
    align-self: center;
}
.s-b-chudi-sub-container{
    background-color: var(--standard-color);
    display: flex;
    flex-direction: column;
    padding: 8px 35px;
    gap: 15px;
}
.saree-shoe-chudidar-img {
    height: 460px;
    width:320px ;
}
.saree-shoe-chudidar-img img{
    height: 100%;
    width: 100%;
    transition: .38s ease;
}
.s-b-chudi-sub-container h4{
    font-size: 1.2rem;
    letter-spacing: 0.6px;
}
.s-b-chudi-sub-container a, .s-b-chudi-sub-container button{
    border: var(--standard-border);
    background-color:transparent;
}
.rotate-btn-container #rotate-arrow{
    transform: rotate(90deg);
    width:20px;
    height:20px;
    display: inline-block;
    transition:transform 0.45s ease;
}
.rotate-arrow-toggle{
    transform:rotate(-90deg) !important;
}
/* shining animation */
.rotate-btn-container{
    position: relative;
    width: fit-content;
    display: flex;
    gap: 20px;
    /* background-color: pink; */
}
.rotate-btn-container #new-arrivals{
    font-family:monospace;
    text-transform: capitalize;
    position: relative;
    background-color: lightgrey;
    /* animation: shiningNewArrival 2s infinite; */
}
.rotate-btn-container #new-arrivals::after{
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
    /* animation: shiningNewArrival 2s infinite; */
}
@keyframes shiningNewArrival {
    from{width:0;
    transform: scale(1.05);}
    to{width:100%;
    transform: scale(0.8);}
}  /* shining animation */
.mens-shopping-container .shoe-slide-img,.bag-slide-img{
    background-color: lightblue;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width:fit-content;
}
.all-shoe-slide-image-box{
    width: 210px;
    height: 320px;
    overflow: hidden;
    background-color: lightblue;
}
.all-shoe-slide-image-box img{
    width: 100%;
    height:100%;
    transition:all 0.3s ease;
    object-fit: cover;
    object-position:center;
}

.shoe-slide-card,.bag-slide-card{
       position: relative;
       display: flex;
       flex-direction: column;
       gap:3.8px;
       flex: 0 0 auto;
       scroll-snap-align: start;
}
.mens-shopping-container #add-cart-btn{
    position: absolute;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    bottom:-10px;
    font-size: 1.1em;
    padding:8px 0;
    border: var(--standard-border);
    opacity:0;
    transition: 0.4s ease;
    cursor: pointer;
    border-radius: 5px;
    color: grey;
    background-color: var(--standard-color);
}
.shoe-slide-img:hover > #add-cart-btn{
    opacity: 1;
    bottom: 7px;
}
.mens-shopping-container #add-cart-btn:hover{
    color:var(--standard-color);
    background-color: #1e88e5;
}

.mens-shopping-container .shoe-bag-main-container{
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
    position: relative;
    pointer-events: none;
    margin: 0 80px;
    transition: opacity 0.1s ease,height .1s ease,transform .1s ease;
    padding-bottom: 30px;
}
.mens-shopping-container .show-shoe-bag-main-container{
    opacity: 1;
    height: auto;
    transform: translateY(0);
    pointer-events: all;
    transition: opacity 0.5s ease,height .5s ease,transform .5s ease;
}
.shoe-bag-main-container .shoe-arrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border: var(--standard-border);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20%;
    font-size: 2em;
    /* background: linear-gradient(90deg,rgba(255,255,255,0) 0%,#fff 100%); */
    z-index: 9;
    opacity: 0.5;
    transition: .3s ease;
}

.shoe-bag-main-container .shoe-arrow:hover{
    opacity: 1;
}
.shoe-bag-main-container .shoe-left-arrow{
    left:0;
}
.shoe-bag-main-container .shoe-right-arrow{
    right: 0;
}

.shoe-bag-main-container .shoe-car-box{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
}
.shoe-car-box::-webkit-scrollbar{
    height: 3px;
}
.shoe-car-box::-webkit-scrollbar-track{
    background-color: #ced4da;
}
.shoe-car-box::-webkit-scrollbar-thumb{
    background-color: #495057;
}


.mens-shopping-container #per-offer{
    text-transform: capitalize;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 0.9em;
    font-family: kanit;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--standard-color);
    color: #009688;
    cursor: default;
    z-index: 1;
}

.mens-shopping-container .bag-main-container{
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
    position: relative;
    pointer-events: none;
    margin: 0 80px;
    transition: opacity .1s ease,height .1s ease,transform .1s ease;
}
.mens-shopping-container .show-bag-main-container{
    opacity: 1;
    height: auto;
    transform: translateY(0);
    pointer-events: all;
    transition: opacity 0.3s ease,height .3s ease,transform .3s ease;
}

.bag-main-container .bag-arrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border: var(--standard-border);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20%;
    font-size: 2em;
    /* background: linear-gradient(90deg,rgba(255,255,255,0) 0%,#fff 100%); */
    z-index: 9;
    opacity: 0.5;
    transition: .3s ease;
}
.bag-main-container .bag-arrow:hover{
    opacity: 1;
}
.bag-main-container .bag-left-arrow{
    left:0;
}
.bag-main-container .bag-right-arrow{
    right: 0;
}
#rotateBag-arrow{
    transform: rotate(90deg);
    width:20px;
    height:20px;
    display: inline-block;
    transition:transform 0.45s ease;
}
.rotateBag-arrow-toggle{
    transform:rotate(-90deg) !important;
}

.bag-main-container .bag-car-box{
    display: flex;
    gap: 25px;
    scroll-behavior: smooth;
    overflow-x: auto;
    padding-bottom: 10px;
}
.bag-car-box::-webkit-scrollbar{
    height: 3px;
}
.bag-car-box::-webkit-scrollbar-track{
    background-color: #ced4da;
}
.bag-car-box::-webkit-scrollbar-thumb{
    background-color: #495057;
}
.bag-slide-img:hover > #add-cart-btn{
    opacity: 1;
    bottom: 7px;
}

.all-bag-slide-image-box{
    width: 300px;
    height:320px;
    overflow: hidden;
    background-color: lightblue;
}
.all-bag-slide-image-box img{
    width: 100%;
    height:100%;
    transition:all 0.3s ease;
    object-fit: cover;
    object-position:center;
}

@media screen and (min-width : 1024px) {
    .cart-heading{
        gap: 93px;
    }
    .cart-main-div,.wish-main-div{
        gap: 50px;
    }
    .cart-main-container{
        gap: 30px;
    }
    .order-sub-container{
        gap: 8px;
    }
    .order-sub-container div{
        gap: 80px;
    }
}
@media screen and (max-width : 1024px) {
    #mall-logo{
        font-size: 1.95rem;
    }
    .mens-shopping-container .bag-main-container
    {
        margin: 0 5px;
    }
    .all-bag-slide-image-box{
        width: 240px;
        height:250px;
    }
    .shoe-bag-main-container{
        margin: 0 5px !important;
    }
    .all-shoe-slide-image-box{
        width: 200px;
        height: 280px;
    }
    .all-shoe-slide-image-box img{
        width: 100%;
        height:100%;
    }
    .carousel-content #prod-name{
        font-size: 1.15rem;
        width:230px;
    }
    .men-shopping-sub-container{
        padding:0;
    }
    .s-b-chudi-sub-container {
        padding: 8px 10px;
    }
    .mens-shopping-container h3{
        padding:1.2pc 0 1pc 0;
        margin-left: 8px;
    }
    .main-container .cards-box-container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .icons{
        column-gap:0px;
    }
    .category 
    {
        gap:0px;
    }
    .category a
    {
        padding:8.5px;
        font-size: 0.85em;
    }
    .profileDropdown .listDropdown
    {
        left:-40px;
    }
    .icons svg{
        height:26px;
        width: 26px;
    }
    .icons p{
        font-size: 0.78rem;
    }    
    .search-bar{
        width: 25%;    
    }
    .fridge-img{
        display: block;
    }
    .homepageMargin{
        margin: 11% 0 0 0;
    }
    .allmargin{
        width: 94%;
        margin: 8.5% auto;
        /* background-color: green; */
    }
    .defaultmargin{
        margin: 9.5% 0 0 0%;
        /* background-color: green; */
    }
    .cart-main-container{
        gap: 20px;
    }
    .orderContainer{
        width: 100%;
    }
    .order-sub-container{
        gap: 10px;
    }
    .order-sub-container div{
        gap: 10px;
    }
    .cart-heading{
        gap: 80px;
    }
    .cart-main-div,.wish-main-div{
        gap: 32px;
    }
}

@media screen and (max-width: 480px){
    #mall-logo{
        font-size: 1.4rem;
    }
    #bagtitle,#wishlisttitle{display: none;}
    .carousel-box{
        padding-bottom:10px;
    }
    .carousel-box::-webkit-scrollbar{
        display: block;
        height: 2px;
    }
    .carousel-box::-webkit-scrollbar-track{
        background-color: #fff;
    }
    .carousel-box::-webkit-scrollbar-thumb{
        background-color: #495057;
        width:40%;
    }
    .carousel-container #left-btn, #right-btn{
       display: none;
    }
    .fridge-img{
        display: none;
    }
    .tv-ac-container .ac-img{
        height: auto;
        width:auto;
    }
    .cards-box-container  .watch-gaming-box-container{
        height:auto;
        gap:10px;
    }
    .cards-box-container .item-reach-link2{
        margin-top:0px;
    }
    .bag-car-box::-webkit-scrollbar-thumb{
        width: 30%;
    }
    .all-bag-slide-image-box{
        width: 230px;
        height:250px;
    }
    .all-bag-slide-image-box img{
        width: 100%;
        height:100%;
        object-fit: cover;
        object-position:center;
    }
    .carousel-content #prod-name{
        font-size: 1.15rem;
        width:230px;
    }
    .mens-shopping-container .bag-main-container{
        margin: 0 5px;
    }
    .bag-main-container .bag-arrow{
        display: none;
    }
    .mens-shopping-container #prod-name{
        font-size: 0.99em;    
        width: 215px;    
    }
    .shoe-bag-main-container .shoe-arrow{
        display: none;
    }
    .menuBar{
        width:320px;
        top: 60px;
        font-size:0.87em;
    }
    #sideBar:checked ~ label #menuCancelIcon{
        left: 265px;
    }
    
    .nav-bar{
        height:60px;
    }
    .nav-bar .category{
        display: none;
    }
    .carousel-container{
        padding: 14px 0 20px 14px ;
        margin-top: 40px;
        gap:12px;
    }
    .carousel-image .all-carousel-images-cont{
        height:180px;
        width: 240px;
    }
    .carousel-container #prod-name{
        font-size: 0.99em;
        width: 200px;
    }
    .main-container .cards-box-container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .saree-shoe-chudidar-img {
        height:460px;
        width:320px ;
        margin: 10px 0;
    }
    .men-shopping-sub-container{
        display:block;
        padding:0px;
    }
    .s-b-chudi-sub-container{
        margin:0px 30px;
        padding:15px 25px;
        margin-bottom: 10px;
    }
    .mens-shopping-container #bag-main1-container{
        display: none;
    }
    .mens-shopping-container #bag-main2-container{
        display:block;
    }
    .icon{
        /* margin-right: -3px; */
    }
    .icons svg{
        height:23px;
        width: 23px;
    }
    .profileIcon{
        display: none;
    }
    .cart-svg #cartCount{
        width: 14px;
        height:14px;
        left: 20px;
        /* top: -8px; */
        font-size: 0.65rem;
        transform: scale(0.82);
    }
    .profileDropdown .listDropdown{
        top: 45px;
        left:-10px;
        padding: 0px;
    }
     
    .listDropdown .loginDropdown{
        font-size: 0.8em;
        min-width: fit-content;
        padding: 1px 5px;
        font-weight:500;
    }
    .image-logo{
        height:50%;
        width:50px;
        /* margin-left: -50px; */
    }
    .search-bar{
        width: 50%;
        margin:5px 10px 0 10px;
        height: 30px;
    }    
    #menuIcon{
        block-size:1.14rem;
        left:0px;
        top:-30px;
    }
    #menuCancelIcon{
        block-size: 1rem;
        top:-15px;
    }
    .cancel-content .menubar-signout-btn{
        margin-top:100%;
    }
    .hero-container{
        margin-top: 60px;
    }
    .carousel-container h2{
        font-size: 1.28rem;
    }
    .mens-shopping-container h3{
        font-size: 1.18rem;
    }
    .mens-shopping-container h4{
        font-size: 1rem;
    }

    .cards-box-container h3{
        font-size: 1.1rem;
    }
    .mobile-box-container p{
        font-size: 0.8em;
    }
    .homepageMargin{
        margin: 19% 0 0 0;
    }
    /* .allmargin{
        width: 94%;
        margin: 8.5% auto;
    }
    .defaultmargin{
        margin: 9.5% 0 0 0%;
    } */

}
footer{
    background-color: #efefef; ;
    font-family: var(--standard-Montserratfont);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-sub{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.footer-sec-1 p{
    color: #221f20;
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 10px;
}
.footer-sec-1 a{
    display: block;
    color: #313131;
    font-size: .93em;
    margin: 12px 0;
    width: fit-content;
}
.footer-sec-2{
    display: flex;
    gap: 12px;
    text-align: center;
}
.footer-sec-2 p{
    margin-right:15px;
    font-weight:450;
    font-size: 1.1rem;
    color: grey;
    align-self: center;
}
.copywright{
    font-size: .85rem;
    color: grey;
}
.footer-sec-4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-sec-4 h4{
    font-weight: 500;
}
.footer-sec-4 p{
    font-size: .88rem;
    font-weight: 350;
    color: grey;
    text-align: justify;
    margin-bottom: 10px;
}
#shoeSlide{
    margin-right:10px;
}
.delete-container,.deleteADD-container{
    background-color: rgba(154, 154, 154, 0.629);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: var(--standard-Montserratfont);
}
.delete-box{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 55px 55px;
    border-radius: 8px;
}
.delete-box P{
    font-size: 1.25em;
}
.confirm-btns{
    display: flex;
    gap: 40px;
}
.confirm-btns button{
    font-family: var(--standard-Montserratfont);
    font-size: 1em;
    padding: 8px 25px;
    border: none;
    cursor: pointer;
    font-weight:500;
    border-radius: 4px;
}
#delete-no{
    background-color: red;
    color: white;
}

/* loader */
.outerLoad{
    border-radius: 50%;
    border: 2px solid #fff;
    border-top-color: #081c15;
    border-left-color: #081c15;
    width: 17px;
    height:17px;
    margin: auto;
    animation: loaderAnimation .6s linear infinite;
}
@keyframes loaderAnimation {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.pointerEvents{
    pointer-events: none;
}
/* see cart */
#cartNumber{
    text-align: center;
    display:inline-block ;
    font-family: kanit;
    font-size: 1.3rem;
    
}
.emptyCartDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-family: var(--standard-Montserratfont);
    flex-wrap: wrap;
}
#conShop{
    font-family: var(--standard-Montserratfont);
    padding: 12px 40px;
    font-size: 1.05em;
    cursor: pointer;
    border: none;
    font-weight:600;
    margin-top:20px;
    border: 1px solid #313131;
}
.cart-main-container{
    width: 100%;
    display: flex;
    margin-top: 120px;
}
.cart-sub-container{
    display: flex;
    flex-direction: column;
}
#cart-label{
    font-family: var(--standard-Montserratfont);
    font-weight: 700;
    font-size: 1.2rem;
    width: fit-content;
}
.cart-heading{
    font-family: var(--standard-Montserratfont);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top:2px solid lightgray;
    border-bottom:2px solid lightgray;
    padding: 15px 0;
    margin-top:22px;
}
.cart-heading p{
    font-weight: 650;
    font-size: .88rem;
}
.item-main-container{
    width: 100%;
}
.wish-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0PX;
    font-family: var(--standard-Montserratfont),Arial, Helvetica, sans-serif;
    transition: all .3s ease;
}
.cart-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid lightgray;
    padding: 18px 0PX;
    font-family: var(--standard-Montserratfont),Arial, Helvetica, sans-serif;
    position: relative;
    transition: all .3s ease;
}
#wish-item-name{
    text-transform: uppercase;
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wish-item-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#wish-title{
    width:27pc;
    color: #38302e;
    cursor: pointer;
}
.cart-item-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: fit-content;
    top: -10px;
    left: 0;
    font-size: .95rem;
    padding:15px;
    background-color: #f0f6fc;
    font-weight: 450;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
    transform: translateY(10px);
    transition: all .3s ease;
    pointer-events: none;
}
.cart-item-info #cart-title:hover, #wish-title:hover{
    color: royalblue;
}
.cart-img:hover > .cart-item-info{
    opacity: 1;
    top: -40px;
    pointer-events: auto;
}
/* ..............cart size dropdown */
.cart-size-dropdown{
    display: flex;
    gap: 5px;
}
.cart-item-info select {
    padding:0 2px;
    font-family: var(--standard-Montserratfont);
    font-weight:600;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
  }  
  /* ..............cart size dropdown ends */
  
.cart-img{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f6fc;
    height:130px;
    width: 130px;
    cursor: pointer;
}
.cart-img img{
    width: 100%;
    height:100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}
#cart-item-name{
    text-transform: uppercase;
    font-weight: 550;
    width:130px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-quantity-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.cart-quantity-div button{
    border: 1px dotted #081c15;
    border-radius: 4px;
    cursor: pointer;
}
.quantity-cart{
    border: 1px solid gray;
    padding: 3px 15px;
    border-radius: 4px;
    font-weight: 600;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wishsvgPara{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.cart-subtotal-div{
    display: flex;
    gap: 6px;
    font-weight: 600;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart-clear-checkout-btns{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top:15px;
}
.cart-clear-checkout-btns button{
    border: none;
    font-family: var(--standard-Montserratfont);
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}
.cart-clear-btn{
    color: black;
    background-color: rgb(246, 241, 241);
    font-weight: 500;
}
.cart-clear-btn:hover{
    background-color: rgba(246, 241, 241, 0.745);
}
.cart-checkout-btn{
    background-color: #262626;
    color: #fff;
}
.cart-checkout-btn:hover{
    background-color: #262626f0;
}

/* see wishlist .................................................................................................*/
.wishlistEmptyDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.wishlistImage{
    display: flex;
    width: 50%;
}
.startshop{
    font-family: var(--standard-Montserratfont),arial;
    padding: 12px 40px;
    font-size: 1.05em;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #439fef;
    font-weight:600;
}

#soLight{
    color: red;
    font-size: 1.3rem;
    font-weight: 580;
}
#letsAdd{
    font-size: 1.1rem;
    color: #1e88e5;
}
/* see wishlist ends.......................................................................................... */

/* order product */
.orderContainer{
    font-family: var(--standard-Montserratfont);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 45px;
    width: 400px;
}
.order-sub-container{
    border: 1px dashed gray;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
}
.priceDetail{
    border-bottom: 1px dashed gray;
    padding: 10px 18px;
}
.order-sub-container div{
    display: flex;
    justify-content: space-between;
    /* gap: 80px; */
    padding: 10px 18px;
}
.cart-totalMRP {
    border-bottom: 1px dashed gray;
}
.cart-totalMRP p{
    padding-bottom: 10px;
}
.order-sub-container p:not(.cart-savingDiv p, .priceDetail, .cart-totalAmount p){
    color: gray;
}
.cart-savingDiv{
    color: rgb(226, 65, 65);
    background-color: rgb(253, 244, 244);
    font-weight: 450;
    border-bottom: 1px dashed gray;
}
.cart-totalAmount{
    font-weight: 600;
    margin: 8px 0px;
}
.cart-placeorder-btn{
    border: none;
    background-color: #262626;
    color: #fff;
    width: 100%;
    padding:5%;
    font-size: .95em;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
#cart-totalpayable{
    color: rgba(0, 0, 0, 0.783);
    min-width: fit-content;
}
/* .................................select address */
.cart-address{
    border: 1px solid black;
    height: 100%;
    font-family: var(--standard-Montserratfont);
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 45%; */
    margin-top: 45px;
    box-sizing: border-box;
    border-radius: 6px;
}

.savedAddress{
    display: flex;
    flex-direction: column;
    padding:  10px 15px;
    border-bottom: 1px solid gray;
    /* height: 0;
    visibility: hidden; */
}
.unhideSavedAddress{
    height: 100%;
    visibility: visible;
}
.checkboxName{
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: capitalize;

    /* background-color: green; */
}
.checkboxName input{
    width:22px;
    height:22px;
    cursor: pointer;
}
.checkboxName label{
    font-weight:550;
    text-transform: uppercase;
}


.selectAddress{
    padding: 15px;
    font-weight: 600;
    border-bottom: 1px solid gray;
}
.addnewADDbbtnDIV{
    /* border-top: 1px solid gray; */
    padding: 15px;
}
.addnewADDbbtnDIV button{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: transparent;
    font-weight: 500;
    font-family: var(--standard-Montserratfont);
    cursor: pointer;
}


.addNewAddress{
    padding: 0px 15px 15px 15px;
}

.addNewAddress input{
    padding: 15px 0;
    font-family: var(--standard-Montserratfont);
    margin-top: 10px;
    width: 100%;
    border: none;
    text-indent: 15px;
    border: 1px solid lightgray;
    font-weight: 600;
    border-radius: 4px;
}
.cityinputdiv{
    display: flex;
    gap: 10px;
}
.saveAddress{
    padding: 8px 15px;
    font-family: var(--standard-Montserratfont);
    margin-top: 10px;
    color: #fff;
    border: none;
    background-color:#221f20;
    border-radius: 4px;
    font-weight:500;
    font-size: 1em;
    cursor: pointer;
}
.add-phone{
    margin: 8px 0 8px 0;
    margin-left:30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: capitalize;
}
.delAddress{
    padding: 8px 10px;
    width: fit-content;
    align-self: flex-end;
    font-family: var(--standard-Montserratfont);
    background-color: rgb(243, 243, 243);
    border: 1px solid gray;
    font-weight: 400;
}
.delAddress:hover{
    background-color: transparent;
}
.noAddress{
    text-align: center;
    font-size: 1.3em;
    padding: 40px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addlabel{
    color: grey;
}
/* payment */
.paymentContainer{
    border: 1px solid gray;
    font-family: var(--standard-Montserratfont);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.paymentSubContainer{
    display: flex;
    color: gray;
    gap: 10px;
    padding: 20px;
}
.paymentSubContainer:not(.cashOnContainer){
    pointer-events: none;
    border-bottom: 1px solid gray;
}
.paymentInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: .9rem;
    width: 100%;
}
.unsupport{
    align-self: flex-end;
    color: black;
    font-size: .78rem;
    text-align: right;
    min-width: 20%;
    opacity: .9;
}
#paymentRadio{
    width: 20px;
    height:20px;
}
.cashOn{
    color: black;
    font-weight: 550;
}

.paymentImagesPara{
    display: flex;
    align-items: center;
    gap: 20px;
}
.paymentImagesSubContainer{
    display: flex;
    gap: 10px;
}
.paymentCARDsoloImage{
    width: 38px;
    height: 22px;
}
.paymentsoloImage{
    width: 28px;
    height:28px;
}
.paymentsoloImage img, .paymentCARDsoloImage img{
    width: 100%;
    height: 100%;
}

.placedContainer{
    font-family: Moderustic;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.truckContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.truckdiv{
    width:  4pc;
    height: 4pc;
}
.truckdiv img{
    width: 100%;
    height: 100%;
}
#succ{
    font-size: 2.25rem;
    color: green;
    font-weight: 500;
}
#reachingYou{
    font-size: 1.4rem;
    font-weight: 500;
}
.placedbutton{
    font-family: Moderustic;
    font-size: 1.2rem;
    padding: 10px 35px;
    cursor: pointer;
    border: none;
}
.placedbutton:hover{
    opacity: .8;
}