:root{
    --standard-font-family:Georgia;
    --standard-font-size:1.2em;
    --standard-border:none;
    --standard-outline:none;
    --standard-backgroung-color:#f8f9fa;
    --standard-color:#ffff;
    --standard-display:flex;
    --standard-flex-direction:column;
    --standard-default-Link-color:grey;
    --standard-isActive-Link-color:black;
}

.post-Container{
    display: var(--standard-display);
    column-gap:15px;
    display: flex;
    /* justify-content: center; */
    padding-top: 2pc;
}
#post-items-links{
    display: var(--standard-display);
    flex-direction: var(--standard-flex-direction);
    row-gap: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width:200px ;
}
.initial-link{
    color:var(--standard-default-Link-color);
}
.current-page-post{
    color:var(--standard-isActive-Link-color);
    font-weight: 700;
}

.postProducts{
    display: var(--standard-display);
    flex-direction: var(--standard-flex-direction);
    row-gap: 30px;
    font-family: var(--standard-font-family);
    user-select: none;
}
.postProducts h1{
    font-size: 1.6rem;
    margin-bottom: -7px;
}
.postItemContainer{
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}
.postItemContainer .postItem{
    max-width:450px;
    margin-top: 20px;
}

.panelDetails{
    margin-top:20px;
}
.postItem,.panelDetails{
    display: var(--standard-display);
    flex-direction: var(--standard-flex-direction);
    row-gap: 17px;
    width: fit-content;
}
#price-dis{
    display: flex;
    /* background-color: orange; */
    /* width: 100%; */
    width:400px;
    box-sizing: border-box;
}
#price-dis,#bac-panel{
    display: var(--standard-display);
    gap:20px;
    width: 100%;
}
#price-dis input,#bac-panel input, .panelDetails #text-clr {
    max-width: 100%;
}
.postProducts input{
    padding: 12px 0px;
    width: 100%;
    max-width: 500px;
    /* max-width: 300PX; */
    font-size: var(--standard-font-size);
    font-weight: 500;
    border: var(--standard-border);
    outline: var(--standard-outline);
    background-color: #e9ecef;
    border-radius: 5px;
    text-indent: 15px;
    box-sizing: border-box;
}

/* whole button */
#select-img-btn{
    background-color: #1e88e5;
    color: var(--standard-color);
    text-align: center;
    max-width:202px;
    max-height: 50px;
    font-size: var(--standard-font-size);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.8pc ;
    border-radius: 5px;
    cursor: pointer;
    border: var(--standard-border);
    outline: var(--standard-outline);
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
#select-img-btn:hover{
    background-color: #1e88e5ab;
}
.post-Container #uploadItem{
    font-size: var(--standard-font-size);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1pc;
    max-width: 300PX;
    border-radius:30px ;
    border: var(--standard-border);
    outline: var(--standard-outline);
    background:linear-gradient(to right, #2abfff,#0071ff);
    color: var(--standard-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.post-Container #uploadItem::after{
    content: '';
    background: linear-gradient(to right, #ffee00, #ffb300);
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius:30px ;
    transition:all 0.2s ease-in-out;
    z-index: -1;
}
.post-Container #uploadItem:hover::after{
    width: 100%;  
}
.post-Container #uploadItem:hover{
    color: black;
    transition: 0.2s ease-in-out;
}

/* button close */

#select-img{
    display: none;
}
.final-look{
    align-self:self-start;
    background-color:#efe5dc;
    height: 350px;
    width: 340px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
}
#imgPreview{
    height:95%;
    width:85%;
    /* height:100%;
    width:100%;
    object-fit: contain; */
}

.itemDetail{
    background-color: #cccccc;
    line-height: 33px;
    padding: 0.5pc 0pc 1.45pc 0pc ;
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.itemDetail p{
    margin: 0 10px ;
    font-size: 1.13em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.final-look #pricePara{
    display: flex;
    column-gap: 15px;
    margin-top: 6px;
    /* background-color: green; */
}

#pricePara p{
    font-size: 1.2em;
}
#pricePara svg{
    height: 15px;
    width: 15px;
}
#pricePara span{
    font-size: 1.2em;
    /* font-weight: 700; */
}
#svg1{
    position: relative;
    top: 3px;
    left: 2px;
}

/* at form submit */
/* loader */
#cat-select{
    width: 50%;
    padding: 10px 8px;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    outline: none;
    background-color: #e9ecef91;
    display: none;

}
.postItem #description-text{
    padding: 12px;
    width: 100%;
    height: 300px;
    /* max-width: 500px; */
    box-sizing: border-box;
    min-height: 80px;
    font-size: 1.5em;
    border: var(--standard-border);
    outline: var(--standard-outline);
    background-color: #e9ecef;
    border-radius:5px;
    resize:none;
    line-height: 29px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--standard-font-size);
}
#description-text::-webkit-scrollbar{
    display: none;
}

.select-container{
    width: 89%;
    box-sizing: border-box;
    max-width: 300PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    position: relative;
}
.select-container .select-btn{
    width: 100%;
    padding: 8px 0px;
    font-size: 1.1em;
    background-color: #fcfcfc;
    color: #333;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    cursor: pointer;
} 
.select-container .select-btn p{
    width: 80%;
    margin-left: 12px;
    overflow: hidden;
}
.select-btn #select-btn-arrowDown{
    width:40px;
    height: 35px;
    fill: #333;
}
.rotate-sel-cat{
    transform: rotate(-180deg);
}
.select-container .select-options{
    width: 100%;
    height: 250px;
    font-size: 1.1em;
    background-color: #f6f6f6;
    color: #333;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    position: absolute;
    z-index: 1;
    top: 110%;
    overflow-y:auto ;
}
.select-container .select-options::-webkit-scrollbar{
    width: 4px;
}
.select-container .select-options::-webkit-scrollbar-track{
    background-color: #f6f6f6;
}
.select-container .select-options::-webkit-scrollbar-thumb{
    background-color: #3333;
    border-radius:10px;
}
.select-container .select-options .select-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.select-options .select-item:hover{
    background-color:#e9ecef;
}

.Post-mobileItem-img{
    width:90%;
    height:90%;   
    object-fit: contain;
    object-position: center;
    background-color: transparent;
    mix-blend-mode: multiply;
}
.phoneItem-name{
    width: 100%;
}