.sareeItemImg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f3f4;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}
.sareeItemImg-box{
    width: 100%;
    height: 100%;
    display: flex ;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
.sareeItem-img{
    width: 100%;
    height:100%;   
    object-fit: cover;
    object-position: center;
    background-color: transparent;
    mix-blend-mode:multiply;
    transition: all .3s ease;
}

.lahengaSuitItemImg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f3f4;
    /* width: fit-content; */
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}