.sareeItemImg-container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f3f4;
    height:330px;
    overflow: hidden;
    position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f3f4;
    width: 335px;
    height:500px;
    overflow: hidden;
    position: relative;

}
.sareeItemImg-box{
    /* background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 200px;
    max-height: 500px;
    align-items: center; */
    width: 100%;
    height: 100%;
    display: flex ;
    justify-content: center;
    overflow: hidden;
}
.sareeItem-img{
    width: 100%;
    height:100%;   
    object-fit: cover;
    object-position: center;
    background-color: transparent;
    mix-blend-mode:multiply;
    transition: all .3s ease;
}